{{> header}}

<form action="/" method="GET">
	<input type="text" name="fname" placeholder="Full Name" required>
	
	<input type="email" name="email" placeholder="Email" required>
	
	<input type="text" name="cid" placeholder="College ID" required>
	
	<input type="number" name="roll" placeholder="Roll No." required>
	<input type="submit">
</form>

{{> footer}}
